@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");
@import url("https://fonts.cdnfonts.com/css/mystical");
* {
  margin: 0px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e3e6e4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbarbg {
  height: 55px;
  background-color: white;
}

input.searche {
  height: 36px;
  max-width: 500px;
  background-color: #eef3f8;
  border: 0;
}

input.searche::placeholder {
  font-size: 14px;
  color: gray;
  background-repeat: no-repeat;
  background-size: 7%;
  background-position: 0% 50%;
  padding: 10%;
}

.body {
  background-color: #f3f2ef;
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.menutext {
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
  margin-top: 5px;
  font-weight: lighter;
  text-decoration: none;
}

.menutext:hover {
  color: black;
}

button.mediatext {
  color: #5f5f5f;
}

button.mediatext:hover {
  color: #5f5f5f;
}

.mediatext {
  font-size: 15px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #5f5f5f;
}

i {
  color: gray;
  margin-top: 8px;
}

i:hover {
  color: black;
}

input.content {
  border-radius: 40px;
  height: 45px;
}

input.content::placeholder {
  font-weight: bolder;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  background-repeat: no-repeat;
  background-size: auto;
  padding-left: 5%;
}

div.card {
  border-radius: 10px;
}

.header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bolder;
}

.view {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #5f5f5f;
}

.categories {
  font-size: 13px;
  font-weight: bold;
  color: #0a66c2;
}

li {
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
}

.link {
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #5f5f5f;
}

.ref:hover i,
.ref:hover i span,
svg:hover span {
  color: white;
}

.ref i {
  display: flex;
  align-items: center;
  margin: 0;
}

.postphoto {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.posttext {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 14px;
}

.profile-desc {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 13px;
  color: #474747;
}

.card-desc {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  color: black;
}

.right-panel-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.right-panel-desc {
  font-weight: lighter;
  font-size: 13px;
  color: #5f5f5f;
}

/*login.js*/
.main-container {
  background-color: #e3e6e4;
  min-height: 100vh;
  padding-top: 20px;
}

.form-container {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 0 10px #000;
  width: 500px;
  height: 430px;
}

.login-input {
  width: 140px;
}

.input-field {
  background-color: rgba(0, 0, 0, 0.7);
}

.button-86 {
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-86::after,
.button-86::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all 0.4s;
}

.button-86::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #28282d;
  border-radius: 10px;
}

.button-86::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.button-86:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.button-86:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.button-86:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}

.center {
  position: relative;
  padding: 50px 50px;
  background: #fff;
  border-radius: 10px;
}
.center h1 {
  font-size: 2em;
  border-left: 5px solid dodgerblue;
  padding: 10px;
  color: #000;
  letter-spacing: 5px;
  margin-bottom: 60px;
  font-weight: bold;
  padding-left: 10px;
}
.center .inputbox {
  position: relative;
  width: 300px;
  height: 50px;
  margin-bottom: 50px;
}
.center .inputbox input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: 2px solid #000;
  outline: none;
  background: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.2em;
}
.center .inputbox:last-child {
  margin-bottom: 0;
}
.center .inputbox span {
  position: absolute;
  top: 14px;
  left: 20px;
  font-size: 1em;
  transition: 0.6s;
  font-family: sans-serif;
}
.center .inputbox input:focus ~ span,
.center .inputbox input:valid ~ span {
  transform: translateX(-13px) translateY(-35px);
  font-size: 1em;
}
.center .inputbox [type="button"] {
  width: 50%;
  background: dodgerblue;
  color: #fff;
  border: #fff;
}
.center .inputbox:hover [type="button"] {
  background: linear-gradient(45deg, greenyellow, dodgerblue);
}

/*navbar.js*/
.navbar-container {
  background-color: #f8f9fa;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
}

.pulser {
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
  position: relative;
  margin-left: 10px;
}

.pulser::after {
  animation: pulse 1000ms cubic-bezier(0.9, 0.7, 0.5, 0.9) infinite;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    transform: scale(1.4);
    opacity: 0.4;
  }
}

.pulser::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: darkred;
  border-radius: 50%;
  z-index: -1;
}

.app-logo-img {
  height: 40px;
  width: 40px;
}

.app-logout-img {
  height: 30px;
  width: 30px;
  border-radius: 15px;
}

.navbar {
  background-color: #fff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.nav-item {
  margin-right: 50px;
}

.navbar-head {
  font-size: 25px;
  font-family: Georgia, serif;
  padding: 5px;
}

/*faculty_home.js*/
.fac-home-container {
  background-color: lightcyan;
  background-size: cover;
  min-height: 100vh;
}

.greeting {
  font-family: Helvetica;
  font-weight: bold;
}

.add-course-btn {
  background-color: lightcyan;
  height: 40px;
  width: 140px;
  border-radius: 5px;
  border-color: transparent;
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
  font-weight: bolder;
  color: black;
}

.add-course-btn:hover {
  background-color: cyan;
}

.scope {
  font-family: Helvetica;
  font-size: larger;
}

.list-container {
  background-color: #fff;
  border-radius: 10px;
}

.list-group {
  list-style: none;
}

.elist-group-item {
  background-color: #eef3f8;
  border-radius: 10px;
}

.rlist-group-item {
  background-color: #eef3f8;
  border-radius: 10px;
  border: red solid;
  border-width: 1px;
}

/*student_home.js*/
.schedule-time {
  font-family: "Roboto";
}

.schedule-heading {
  color: #000;
}

.list-group-item {
  border-radius: 10px;
}
